{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="tables_view">
	<table class="table">
		<thead>
		  <tr>
		    <th>Keyword</th>
		    <th>Value</th>
		  </tr>
		</thead>
		<tbody>
		{% for key in keys %}
		  <tr>
		    <td>{{ key.key }}</td>
		    <td>{{ key.value }}</td>
		  </tr>
		{% endfor %}
		</tbody>
	</table>
	<form method="POST" action="/wrapup/key/">
	  {% csrf_token %}
	  <input type="text" id="key" name="key" placeholder="Keyword"/>
	  <input type="number" id="value" name ="value" min="1" max="100" placeholder="value">
	  <br>
	  <br>
	  <input type="submit" id="submit" value="Enter" class="btn btn-success"/>

	</form>
</div>
{% endblock %}
