{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="table-responsive">
	<table class="table">
		<thead>
		  <tr>
		    <th>Site</th>
		    <th>Name</th>
		  </tr>
		</thead>
		<tbody>
		{% for site in sites %}
		  <tr>
		    <td>{{ site.url }}</td>
		    <td>{{ site.name }}</td>
		    <td>
		    	<form action="/delete/" method="post" id="{{ site.id }}">
		    		{% csrf_token %}
		    		<input type="hidden" value="{{ site.id }}" name="deleteItem" id="deleteItem"> 
		    		<input type="hidden" value="site" name="loc" id="loc"> 
			    	<button type="submit" class="btn btn-danger delete">
			    		<span class="glyphicon glyphicon-remove" aria-hidden="true" hidden={{ site.id }}></span>
			    	</button>
				</form>
		    </td>
		  </tr>
		{% endfor %}
		</tbody>
	</table>
	<form method="POST" action="/wrapup/site/">
	  {% csrf_token %}
	  <input type="text" id="newSite" name="newSite"/>
	  <input type="submit" id="submit" value="Enter" class="btn btn-success"/>

	</form>
</div>
{% endblock %}
